body {
  margin: 0;
  overflow: hidden;
  height: 100vh;
  width: 100vw;
}

canvas {
  display: block;
  width: 100%;
  height: 100%;
}

.App {
  width: 100%;
  height: 100%;
  position: absolute;
}

#ui {
  position: absolute;
  top: 10px;
  left: 10px;
  z-index: 1;
}

@media (max-width: 1920px) {
  .laptop-screen-content {
    width: 2150px;
    height: 1350px;
  }
}

@media (max-width: 1440px) {
  .laptop-screen-content {
    width: 1200px;
    height: 675px;
  }
}

@media (max-width: 1280px) {
  .laptop-screen-content {
    width: 1475px;
    height: 925px;
  }
}

@media (max-width: 1024px) {
  .laptop-screen-content {
    width: 1475px;
    height: 900px;
  }
}

@media (max-width: 768px) {
  .laptop-screen-content {
    width: 600px;
    height: 338px;
  }
}

@media (max-width: 480px) {
  .laptop-screen-content {
    width: 400px;
    height: 225px;
  }
}

.laptop-screen-content {
  display: grid;
  grid-template-columns: 50vw 50vw;
  gap: 20px;
  padding: 20px;
  align-items: center;
  background-color: rgb(4, 34, 11);
  color: white;
}

.laptop-screen-content .nav {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  align-self: start;
}

.laptop-screen-content .nav-content {
  display: flex;
  flex-direction: column;
  align-items: flex-start; /* Align items to the left */
}

.nav-content h1 {
  font-size: 6vw;
  margin-bottom: 0.5rem;
}

.nav-content h2 {
  font-size: 2.5vw;
  font-weight: 600;
  margin-top: 0;
  margin-bottom: 0.5rem;
}

.nav-content h3 {
  font-size: 2vw;
  margin-top: 0;
  font-weight: 200;
  margin-bottom: 10%;
}

.laptop-screen-content .content {
  overflow-y: auto;
  max-height: 90%; /* Adjust as needed */
}

.laptop-screen-content .content::-webkit-scrollbar {
  width: 0px; /* Remove scrollbar space */
  background: transparent; /* Optional: just to make scrollbar invisible */
}

/* Hide scrollbar for IE, Edge and Firefox */
.laptop-screen-content .content {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}

.laptop-screen-content .content-content {
  display: flex;
  flex-direction: column;
  align-items: flex-start; /* Align items to the left */
}

.content-content p {
  font-size: 2rem;
}

.laptop-screen-content .nav button {
  margin: 10px 0;
  padding: 10px 30px;
  font-size: 1.5rem;
  font-weight: 500;
  background: none;
  border: none;
  cursor: pointer;
  position: relative;
  color: white;
  transition: color 0.3s, padding-left 0.3s; /* Smooth transition for text color and padding */
}

.laptop-screen-content .nav button::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 0;
  width: 25px; /* Initial width of the line */
  height: 3px; /* Height of the line */
  background: white; /* Color of the line */
  transition: width 0.3s; /* Smooth transition for width */
  transform: translateY(-50%);
}

.laptop-screen-content .nav button:hover,
.laptop-screen-content .nav button.active {
  color: #cccccc;
  padding-left: 70px; /* Increase padding to push text to the right */
}

.laptop-screen-content .nav button:hover::before,
.laptop-screen-content .nav button.active::before {
  width: 60px; /* Expand the line on hover */
  background: #cccccc;
}

.section {
  margin-bottom: 50px;
}

.card-link {
  text-decoration: none; /* Remove underline */
  color: inherit; /* Inherit text color */
  display: block; /* Ensure it behaves like a block element */
}

.card {
  background-color: #114015;
  border-radius: 10px;
  padding: 20px;
  width: 80%;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  transition: background-color 0.3s; /* Smooth background color transition */
}

.card:hover {
  background-color: #38553b;
}

.card-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 10px;
}

.date {
  color: #a4a7af;
  font-size: 1.3rem;
}

.job-title {
  color: #64ff71;
  font-weight: bold;
  text-decoration: none;
}

.card-body {
  margin-bottom: 10px;
}

.card-footer {
  display: flex;
  gap: 10px;
}

.tag {
  background-color: #143519;
  color: #ffffff;
  padding: 5px 10px;
  border-radius: 5px;
  font-size: 1rem;
}

/* Added styles */
.welcome-text {
  position: absolute;
  top: 10px;
  width: 100%;
  text-align: center;
  color: white;
  font-size: 6rem;
  background-color: rgba(204, 204, 204, 0.5); 
}


.ui-buttons {
  position: absolute;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.ui-buttons.continue {
  bottom: 10px;
  transform: translateY(40%);
}

.ui-buttons.back {
  top: 10px;
  left: 10px;
  justify-content: flex-start;
}

.ui-buttons button {
  font-size: 1.5rem;
  padding: 10px 30px;
  cursor: pointer;
  background-color: #4cdd58;
  color: #ffffff;
  border: 2px solid #4cdd58;
  border-radius: 8px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  transition: background-color 0.3s, color 0.3s, transform 0.3s;
}

.ui-buttons button:hover {
  background-color: #87ff91;
  color: #114015;
  transform: translateY(-3px);
  box-shadow: 0 6px 8px rgba(0, 0, 0, 0.2);
}

.ui-buttons button:active {
  transform: translateY(1px);
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}

